.card {
  max-width: 400px;
  height: 550px;
  margin: 20px 10px;
  padding: 20px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.6);
  border-radius: 5px;
  &.sm {
    height: 450px;
    text-align: center;
    .imgContainer {
      height: 80%;
    }
  }
  .imgContainer {
    width: 350px;
    height: 60%;
    img {
      width: 100%;
      height: 100%;
    }
  }
  .content {
    margin-top: 10px;
  }
  .card-btn {
    bottom: 15px;
    position: absolute;
    width: 90%;
  }
}
@media screen and (max-width: 1400px) {
  .card {
    margin: 20px auto;
  }
}
@media screen and (max-width: 480px) {
  .card {
    max-width: 320px;
    height: 550px;
    margin: 0 auto;
    .imgContainer {
      width: 280px;
    }
  }
}
