$font-family-sans-serif: "Poppins", sans-serif;

$grid-breakpoints: (
  xs: 0,
  sm: 300px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px,
);

$spacer: 1rem;
$spacers: (
  0: 0,
  1: $spacer * 0.25,
  2: $spacer * 0.5,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 3,
  6: $spacer * 6,
  7: $spacer * 12,
  8: $spacer * 18,
  9: $spacer * 24,
);
